<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Uçuş Gecikme Tahmin Sistemi - Anasayfa</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/anasayfa.css" />
</head>
<body>
    <div class="mobile-overlay"></div>
    <div class="top-bar">
        <div class="search">🔎︎ Ara</div>
        <div class="lang">🌍︎ TR-INT</div>
    </div>

    <header>
        <div class="header-logo">
            <a href="/">
                <img src="/static/images/veltrixai2.png" width="60" height="60" alt="Veltrix Logo" />
            </a>
        </div>
        <h1>UÇUŞ GECİKME TAHMİN SİSTEMİ</h1>
        <nav class="header-nav">
            <a href="/">ANASAYFA</a>
            <a href="/tahmin-yap">TAHMİN YAP</a>
            <a href="/model">MODEL</a>
            <a href="/veltrixai">VELTRIXAI</a>
        </nav>
        <div class="mobile-menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <main class="home-main">
        <div class="hero-section">
            <div class="hero-content">
                <h2>Akıllı Uçuş Gecikme Tahmin Sistemi</h2>
                <a href="/tahmin-yap" class="hero-button">Tahmin Yap</a>
            </div>
        </div>

        

  <div class="info-container">
    <div class="info-box">
      <h3>Problem</h3>
      <p>Hava koşulları, operasyonel yoğunluk ve teknik arızalar nedeniyle uçuşlarda sıkça gecikme ve iptaller yaşanmaktadır...</p>
    </div>

    <div class="info-box">
      <img src="/static/images/skyplane.jpg" alt="Çözüm" class="info-icon">
      <h3>Çözüm</h3>
      <p>Gerçek zamanlı ve geçmiş verileri analiz eden, yapay zeka tabanlı bir tahmin sistemi geliştirdik...</p>
    </div>

    <div class="info-box">
      <h3>Teknoloji</h3>
      <p>Projemizin temelini oluşturan <b>XGBoost</b> tabanlı makine öğrenimi modeli...</p>
    </div>

     <div class="info-box">
      <img src="/static/images/veltrixai2.png" alt="İletişim" class="info-icon">
      <h3>İletişim</h3>
      <p>Mail: <a href ="mailto:veltrixai.teknofest@gmail.com">veltrixai.teknofest@gmail.com</a></p>
      <p>NSosyal: <a href ="https://sosyal.teknofest.app/@veltrixai">veltrixai</a></p>
    </div>
  </div>




    </main>

    <footer>
        <p>© 2025 Uçuş Gecikme Tahmin Sistemi | Tüm hakları saklıdır.</p>
    </footer>
    <script src="/static/script.js"></script>
    <script src="/static/anasayfa.js"></script>
</body>
</html>